<html>
	<head>
		<title>
			Durkin's blog
		</title>
	</head>
	<body>
	
		<div>
            <h1><a href="/">Durkin's blog</a></h1>
        </div>
		<h1>М.Ю. Лермонтов "Родина"</h1>
			
			Люблю отчизну я, но странною любовью, <br/>
			Не победит её рассудок мой, <br/>
			Ни слава, купленная кровью, <br/>
			Ни полного доверия покой, <br/>
			Ни темной старины заветные преданья, <br/>
			Не шевелят во мне отрадного  мечтанья.<br/>
			<p>
			Но я люблю - за что, не знаю сам - <br/>
			Её степей холодное молчанье,<br/>
			Её лесов безбрежных колыханье,<br/>
			Разливы рек её подрбные морям;<br/>
			Проселочным путем люблю скакать в телеге,<br/>
			И взором медленным пронзая ночи тень,<br/>
			Встречать по сторонам, вздыхая о ночлеге,<br/>
			Дрожащие огни печальных деревень;<br/>
			Люблю дымок спаленной жнивы,<br/>
			В степи ночующий обоз,<br/>
			И на холме средь желтой нивы,<br/>
			Чету белеющих берез.<br/>
			<p>
			С отрадой, многим незнакомой, <br/>
			Я вижу полное гумно,<br/>
			Избу, покрытую соломой,<br/>
			с резными ставнями окно;<br/>
			И в праздник, вечером росистым, <br/>
			Смотреть до полночи готов,<br/>
			На пляску с топотом и свистом,<br/>
			Под говор пьяных мужичков.<br/>
			<p>
									1841
			
	</body>
</html>
